# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env

# Node
node_modules/
dist/

# Docker
pgdata/

# OS
.DS_Store
Thumbs.db

# Misc
*.log
